
#movie-item {
  width: 60%;
  margin: 0 auto;
}

#movie-title{
  width: 100%;
  text-align: center;
  background-color: cornflowerblue ;
}

#movie-body{
  width: 100%;
  text-align: center;
}

#movie-poster {
  display: inline-block;
  width: 300px;
}

#movie-details {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 15px;
}

#btnBack{
  float: left;
}

#btnNext {
  float: right;
}

#btnShowMovieList {
  width: 100%;
  text-align: center;
}

#buttons{
  margin: 10px;
}
