<h3>Movie details (id: {{movieId}})</h3>


<div id="movie-item">
  <div id="movie-title"><h1>{{ movie?.Title}} ({{movie?.Year}})</h1></div>

  <div id="movie-body">
    <div id="movie-poster"><img src="{{movie?.Poster == 'N/A' ? 'http://gearr.scannain.com/wp-content/uploads/2015/02/noposter.jpg' : movie?.Poster}}"></div>
    <div id="movie-details">
      <h3>Movie details:</h3>

      <div><b>Title:</b> {{movie?.Title}}</div>
      <div><b>Year:</b> {{movie?.Year}}</div>
      <div><b>Type:</b> {{movie?.Type}}</div>

    </div>
  </div>

  <div id="buttons">
    <div>
      <button (click)="goPrevious()" id="btnBack">Previous</button>
      <button (click)="goNext()" id="btnNext">Next</button>
    </div>

    <div id="btnShowMovieList">
      <button (click)="gotoMovieList()">Back</button>
    </div>
  </div>

</div>
