
$backColor: red;

#movies {
  width: 50%;
  padding: 10px;
}

.movie-item {
  float: left;
  width: 300px;
  height: 550px;
  border: 1px solid $backColor;
  margin: 5px;
  padding: 5px;
}

.movie-details {
  width: 80%;
  height: 25px;
  font-weight: bold;
  position: relative;
  text-align: right;
  border: 1px solid red;
  top: 550px;
}

#filterMovies {
  width: 90%;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}

.movie-title-clickable {
  color: blue;

}
