
<h3>Movie List</h3>

<div id="filterMovies">
  <label>Search for a movie: &nbsp;</label>
  <input
    type="text"
    name="filter"
    [(ngModel)]="form.filter"
    (ngModelChange)="applyFilter()"
    placeholder="Search..."
    autocomplete="off"
    autofocus
    class="filter"
  />
</div>

<div id="movies">
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 5,
                                                      currentPage: page,
                                                      totalItems: totalRec },
                                       let i = index;">
      <td><span (click)="showDetails(i)" class="movie-title-clickable">{{movie.Title}}</span> </td>
      <td>{{movie.Year}}</td>
      <td>{{movie.Type}}</td>
    </tr>
    </tbody>
  </table>
  <div>
    <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
